  *:before,
  *:after{
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }
  body{
      background-color: #2b2a31;
  }
  .background{
      width: 430px;
      height: 680px;
      position: absolute;
      transform: translate(-50%,-50%);
      left: 50%;
      top: 50%;
  }

  .background .shape{
      height: 200px;
      width: 200px;
      position: absolute;
      border-radius: 50%;
  }
  .shape:first-child{
      background: linear-gradient(
          #1845ad,
          #23a2f6
      );
      left: -80px;
      top: -80px;
  }
  .shape:last-child{
      background: linear-gradient(
          to right,
          #ff512f,
          #f09819
      );
      right: -30px;
      bottom: -80px;
  }
  #login{
      height: 520px;
      width: 400px;
      background-color: rgba(255,255,255,0.13);
      position: absolute;
      transform: translate(-50%,-50%);
      top: 50%;
      left: 50%;
      border-radius: 10px;
      backdrop-filter: blur(10px);
      border: 2px solid rgba(255,255,255,0.1);
      box-shadow: 0 0 40px rgba(8,7,16,0.6);
      padding: 50px 35px;
  }
  #register{
    height: 680px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
  form *{
      font-family: 'Poppins',sans-serif;
      color: #ffffff;
      letter-spacing: 0.5px;
      outline: none;
      border: none;
  }
  form h3{
      font-size: 32px;
      font-weight: 500;
      line-height: 42px;
      text-align: center;
  }
  
  label{
      display: block;
      margin-top: 30px;
      font-size: 16px;
      font-weight: 500;
  }
  #goalform{
    display:none;
    margin: 2%;
  }
  #materialform{
    flex-grow: 1;
    display: flex;
    align-items: center;
  }
  #materialbutton{
    margin: 25px;
    align-self: flex-start;
    height: 100%;
    flex-grow: 1;
    border-radius: 25px;
  }
  #materialdelbutton{
    margin: 25px;
    align-self: flex-start;
    height: 100%;
    flex-grow: 1;
    border-radius: 25px;
    width: 100%;
  }
  #revisionmats{
    text-align: center;
    display:block;
    background-color: rgb(58, 58, 58);
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 25px;
    
  }
  #materialloop{
    border-radius: 20px;
  }
  #onemat{
    border-collapse: separate; 
    border-radius: 25px;
    overflow: hidden;
  }
  #addforminput{
    text-align: center;
    flex-grow: 1;
  }
  #fileinput{
    text-align: center;
    flex-grow: 1;
  }
  #addmaterialform{
    width:75%
  }
  #addmaterial{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2%;
  }
  a:hover{
    color: purple;
  }
  a:link{
    color: white;
  }
  a:visited{
    color: rgb(171, 171, 171)
  }
  #updateclose{
    display: flex;
    width: 25%;
    justify-content: center;
    align-self: center;
  }
  .text{
    border-radius: 25px;
    display: none;
    width: auto;
    height: auto;
    margin: 3%;
    background-color: rgba(0,0,0);
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
    z-index: 7;
    cursor: pointer;
  }
  #updateform{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 3%;
    background-color: rgba(0,0,0,0.5);
    z-index: 7;
    cursor: pointer;
  }

  #navbar{
    display: flex;
    padding: 2%;
    margin: 2%;
    justify-content: space-evenly;
    background-color: black;
    align-items: baseline;
    border-radius: 25px;
  }
  #eachgoal{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: stretch;
  }
  #popupaddflex{
    display: flex;
    width: 100%;
    border-radius: 25px;

  }
  #popupformbuttons{
    display: flex;
  }
  .addformbuttons{
    flex-grow: 1;
    background-color: rgb(58, 58,58);
    color: white;
    border-radius: 25px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );


  }
  #popupadd{
    background-color: rgb(58, 58,58);
    text-align: center;
    display: block;
    flex-grow: 1;
    /* width:90%; */
    /* width: 100%; */
    margin: 2%;
    /* padding: 12px; */
    color: white;
    border-radius: 25px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    
  }
  #tablewrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}
/* #small_detail{
  display: flex;
  justify-content: baseline;
  align-items: baseline;
} */
#goalcontrollbutton{
  flex-grow: 1;
}
#goalmovebutton{
  flex-grow: 1;
  border: 2px;
}
#goalcontrollbuttonform{
  display: flex;
  flex-grow: 1;
  justify-content: baseline;
  align-items: baseline;
}
#goalcontrol{
  display: flex;
  justify-content: baseline;
  align-items: baseline;
}
#tableheader{
  display: flex;
  flex-flow: column;
}
#tableheadercontroll{
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  flex-grow: 1;
}
#tableheadercontrollbuttons{
  display: flex;
  flex-grow: 1;
}
#tableheadercontrollbutton{
  flex-grow: 1;
  border-radius: 25px;
  margin:2% ;
}
#goaldetail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#col1{
  flex-grow: 1;
  align-items: stretch;
}
#col2{
  flex-grow: 1;
}
#col3{
  flex-grow: 1;;
}
#tables{
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: stretch;
    flex-grow: 1;
    margin: 2%;
}
#goaltable {
  background-color: (58,58,58);
    display: flex;
    border-radius: 25px;
    margin: 2%;
    flex-flow: row;
    color: white;
}
#goaltablebody{
  display: flex;
  flex-flow: column;
}
#goaltableheader{
  display: flex;
  border-radius: 25px;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;

}
a {
  text-decoration: none;
}
#navbarlink{
  background-color: #2b2a31;
  padding: 20px;
  border-radius: 25px;
}
#matdownload{
  flex-grow: 3;
  color: white;
}
#materialless{
  margin: 1%;
  width: 25%;
  border-radius: 25px;
}
#materialdownloadbutton{
  margin: 25px;
  height: 100%;
  width: 100%;
  border-radius: 25px;
}
.materialpreview{
  display: none;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#materialcontroll{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  overflow: hidden;
}
#goaltablehead{
  display: flex;
  border-radius: 25px;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  background-color: rgba(211, 211, 211, 0.5);
  
}
#goaldonebutton{
    color: rgb(255, 255, 255);
    height:auto;
    background-color: rgb(58, 58, 58);
    font-size: 12px;
}

#goaltable td, #goaltable th {
    text-align: center;
    color: white;
    padding: 8px;
}

#goaltable td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
    background-color:rgb(58, 58, 58);
    align-content:baseline;
}

#goaltable thead th {
    color: #000000;
    background: #b64fc3;
}


#goaltable thead th:nth-child(odd) {
    color: #000000;
    background: #e2f534;
}
#rankings{
  display: flex;
  color: rgb(255, 255, 255);
  flex-direction: row;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: rgb(81, 81, 81);
  border-radius: 20px;
}
#loggedinuserscore{
  display: flex;
  flex-direction: row;
  margin-left: 25%;
  margin-right: 25%;
  color: black;
  background-color: rgb(253, 226, 76);
  border-radius: 20px;
}
#loggedrankdetail{
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
/* #rankingtable{
  margin-left: 15%;
  margin-right: 15%;
} */
#rankplace{
  display: flex;
  flex-grow: 1;
  width: 50%;
  justify-content: center;
  align-items: center;
  /* flex-basis: 100%; */
}
#rankdetail{
  display: flex;
  flex-grow: 5;
  width: 55%;
  justify-content: center;
  align-items: center;
  /* flex-basis: 100%; */
}
#goaltable tr:nth-child(even) {
    background: #F8F8F8;
}
#leaderboardheader{
  display: flex;
  border-style: solid;
  color: white;
  text-align: center;
  justify-content: center;
  background-color: #9fd3c7;
  margin: 2%;
  border-radius: 25px;
}
#adminnavbar{
  display: flex;
  margin: 2%;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  /* background-color: black; */
}
#adminlinks{
  border-color: white;
  border-radius: 25px;
  display: flex;
  padding: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgb(88, 88, 88);
  border: 1px solid rgb(255, 255, 255);
}
#totaluserdata{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 20px;
  background-color: goldenrod;
  color: black;
  border: 1px solid rgb(255, 255, 255);

}
#recentusers{
  display: flex;
  margin-left: 10%;
  margin-right: 50%;
  background-color: rgb(152, 61, 152);
  color: white;
  border-radius: 20px;
  border: 1px solid rgb(255, 255, 255);
}
#recentusertext{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  flex-grow: 1;
  margin: 1%;
}
#cycle{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  flex-grow: 3;
  margin: 1%;
  color: white;
}
#userupdate{
  display: flex;
  margin: 2%;
  color: rgb(0, 0, 0);
  border-radius: 25px;
  background-color: lightblue;
  justify-content: space-between;
}
#userdata{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 3px;
}
#userupdateform{
  display: flex;
  background-color: lightblue;
  border-radius: 20px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
  justify-content: center;
  align-items: center;
  color: black;
}
.userforminput{
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}


@media (max-width: 767px) {
    #goaltable {
        display: block;
        width: 95%;
    }
    #popupadd{
        display: block;
        width: 100%;
    }
    #tablewrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    #goaltable tbody, #goaltable th {
        display: block;
    }
    #goaltable th:last-child{
        border-bottom: none;
    }
    #goaltable thead {
        float: left;
    }
    #goaltable tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    #goaltable td, #goaltable th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    #goaltable thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    #goaltable tbody tr {
        display: table-cell;
    }
    #goaltable tbody tr:nth-child(odd) {
        background: none;
    }
    #goaltable tr:nth-child(even) {
        background: transparent;
    }
    #goaltable tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    #goaltable tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    table tbody td {
        display: block;
        text-align: center;
    } 
}
  #have_account{
    height: 50px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.982);
    position: absolute;
    text-align: center;
    transform: translate(-50%,325%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    font-weight: bold;
    font-size: 25px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
  }
  input{
      display: block;
      height: 50px;
      width: 100%;
      background-color: rgba(255,255,255,0.07);
      border-radius: 3px;
      padding: 0 10px;
      margin-top: 8px;
      font-size: 14px;
      font-weight: 300;
  }
  ::placeholder{
      color: #e5e5e5;
  }
  button{
      margin-top: 50px;
      width:max-content;
      background-color: #ffffff;
      color: #080710;
      padding: 15px 0;
      font-size: 18px;
      font-weight: 600;
      border-radius: 5px;
      cursor: pointer;
  }
  .social{
    margin-top: 30px;
    display: flex;
  }
  .social div{
    background: red;
    width: 150px;
    border-radius: 3px;
    padding: 5px 10px 10px 5px;
    background-color: rgba(255,255,255,0.27);
    color: #eaf0fb;
    text-align: center;
  }
  .social div:hover{
    background-color: rgba(255,255,255,0.47);
  }
  .social .fb{
    margin-left: 25px;
  }
  .social i{
    margin-right: 4px;
  }
  
