<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div layout:fragment="content">
        <div id="adminnavbar">
            <div id="adminlinks">
            <a th:href="@{/admin/users}">Users</a>
            </div>
            <div id="adminlinks">
            <a th:href="@{/admin}">Hub</a>
            </div>
        </div>
    </div>