<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div layout:fragment="content">
        <div id="adminnavbar">
            <div id="adminlinks">
            <a th:href="@{/admin/users}">Users</a>
            </div>
            <div id="adminlinks">
            <a th:href="@{/admin}">Hub</a>
            </div>
            <div id="adminlinks">
                <a href="#" th:href="@{/logout}">Logout</a>
            </div>
        </div>
            <div id="userupdateform">
                <form th:object="${updateuser}" th:action="@{/admin/updateuser/accept/{id}(id=${user.id})}">
                    
                    <label for="username">Username:</label>
                    <input class="userforminput"id="username"th:name="username"type="text" th:value="${user.username}">
                    
                    <label for="password">Password:</label>
                    <input class="userforminput"id="password"th:name="password"type="password" th:value="${user.password}">
                    
                    <label for="email">Email:</label>
                    <input class="userforminput"id="email"th:name="email"type="email" th:value="${user.email}">
                    
                    <label for="score">Score:</label>
                    <input class="userforminput"id="score"th:name="score"type="number" th:value="${user.score}">
                    
                    <label for="grade">Grades</label>
                    <select class="userforminput"id="grade" th:name="grade">
                        <option th:value="${user.grade}" selected="selected"hidden="hidden">Choose a Grade</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <input class="userforminput"type="submit" value="CHANGE">
                </form>
            </div>
    </div>