<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div layout:fragment="content">
        <div id="navbar">
            <a th:href="@{/goals}">List of Goals</a>
            <a th:href="@{/revision}">Revision</a>
            <a href="#" th:href="@{/logout}">Logout</a>

        </div>
        <p th:if="${goalsize == true}"> Goal list is empty</p>
        <div>
            <div id="goaltable">
                <div id="goaltableheader">
                    <h3 id="goaltablehead">Name</h3>
                    <div th:each="goal:${comgoals}">
                        <div id="goaltableheader">
                            <p id="goaltablehead"th:text="${goal.name}"></p>
                        </div>
                    </div>
                </div>
                <div id="goaltableheader">
                    <h3 id="goaltablehead">Description</h3>
                    <div th:each="goal:${comgoals}">
                        <div id="goaltableheader">
                            <p id="goaltablehead"th:text="${goal.description}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>