<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div layout:fragment="content">
        <div id="navbar">
            <a th:href="@{/goals}">List of Goals</a>
            <a th:href="@{/revision}">Revision</a>
        </div>
        <p th:if="${goalsize == true}"> Goal list is empty</p>
        <div>
            <!-- <table id="goaltable">
                <thead id="goaltableheader">
                    <tr id="goaltableheader">
                        <th id="goaltablehead">Name</th>
                        <th id="goaltablehead">Description</th>
                    </tr>
                </thead>
                <tbody id="goaltablebody">
                    <div th:each="goal:${comgoals}">
                        <tr id="goaltableheader">
                            <td id="goaltablehead">
                            <p id="displayname" th:text="${goal.name}"></p>
                            </td>
                            <td id="goaltablehead">
                            <p id="displaydesc" th:text="${goal.description}"></p>
                            </td>
                        </tr>
                    </div>
                </tbody>
            </table> -->
            <div id="goaltable">
                <div id="goaltableheader">
                    <h3 id="goaltablehead">Name</h3>
                    <div th:each="goal:${comgoals}">
                        <div id="goaltableheader">
                            <p id="goaltablehead"th:text="${goal.name}"></p>
                        </div>
                    </div>
                </div>
                <div id="goaltableheader">
                    <h3 id="goaltablehead">Description</h3>
                    <div th:each="goal:${comgoals}">
                        <div id="goaltableheader">
                            <p id="goaltablehead"th:text="${goal.description}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>