<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goals</title>
</head>

<body>
    <div layout:fragment="content">
        <div id="navbar">
            <a th:href="@{completedgoals}">CompletedGoals</a>
            <a th:href="@{/revision}">Revision</a>
        </div>
        <div id="tables">
            <div id="col1">
                <h4>Col 1</h4>
                <div id="importance0items" th:each="goal:${importance0}">
                    <div id="small detail">
                        <div id="eachgoal">
                            <p th:text="${goal.name}"></p>
                            <p th:text="${goal.duedate}"></p>
                            <button th:onclick="on([[${goal.id}]])">+</button>
                            <div class="goaloverlay">
                                <div th:id="'goaloverlay'+${goal.id}" th:onclick="off([[${goal.id}]])">
                                    <div class="text" th:id="'text'+${goal.id}">
                                        <form>
                                            <label for="name">Title:</label>
                                            <input id="name"type="text" th:placeholder="${goal.name}">
                                            <label for="desc">Description:</label>
                                            <input id="desc" type="text" th:placeholder="${goal.description}">
                                            <label for="duedate">DueDate:</label>
                                            <input id="duedate"type="date" th:placeholder="${goal.duedate}">
                                            <input type="submit" value="Change">
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <a th:href="@{moveup/{goalid}(goalid=${goal.id})}">-></a>
                        </div>
                    </div>
                </div>

            </div>
            <div id="col2">
                <h4>Col2</h4>
                <div id="importance1items" th:each="goal:${importance1}">
                    <div id="small detail">
                        <div id="eachgoal">
                            <a th:href="@{movedown/{goalid}(goalid=${goal.id})}"><-</a>
                            <p th:text="${goal.name}"></p>
                            <p th:text="${goal.duedate}"></p>
                            <button th:onclick="on([[${goal.id}]])">+</button>
                            <div class="goaloverlay">
                                <div th:id="'goaloverlay'+${goal.id}" th:onclick="off([[${goal.id}]])">
                                    <div class="text" th:id="'text'+${goal.id}">
                                        <form id="updateform">
                                            <label for="name">Title:</label>
                                            <input id="name"type="text" th:placeholder="${goal.name}">
                                            <label for="desc">Description:</label>
                                            <input id="desc" type="text" th:placeholder="${goal.description}">
                                            <label for="duedate">DueDate:</label>
                                            <input id="duedate"type="date" th:placeholder="${goal.duedate}">
                                            <input type="submit" value="Change">
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <a th:href="@{moveup/{goalid}(goalid=${goal.id})}">-></a>
                        </div>
                    </div>
                </div>

            </div>
            <div id="col3">
                <h4>Col3</h4>
                <div id="importance2items" th:each="goal:${importance2}">
                    <div id="small detail">
                        <div id="eachgoal">
                            <a th:href="@{movedown/{goalid}(goalid=${goal.id})}"><-</a>
                            <p th:text="${goal.name}"></p>
                            <p th:text="${goal.duedate}"></p>
                            <button th:onclick="on([[${goal.id}]])">+</button>
                            <div class="goaloverlay">
                                <div th:id="'goaloverlay'+${goal.id}" th:onclick="off([[${goal.id}]])">
                                    <div class="text"th:id="'text'+${goal.id}">
                                        <form>
                                            <label for="name">Title:</label>
                                            <input id="name"type="text" th:placeholder="${goal.name}">
                                            <label for="desc">Description:</label>
                                            <input id="desc" type="text" th:placeholder="${goal.description}">
                                            <label for="duedate">DueDate:</label>
                                            <input id="duedate"type="date" th:placeholder="${goal.duedate}">
                                            <input type="submit" value="Change">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
            <div class="addgoalform" id="goalform">
            <form class="popupform" th:object="${newgoal}" th:action="@{/addgoal}">
                <label for="name">Name</label>
                <input  th:field="*{name}" id = "name"type="text">
                <label for="description">Description</label>
                <input th:field = "*{description}" id="description" type="text">
                <label for="duedate">Due-Date (YYYY-MM-DD)</label>
                <input type="date" th:field="*{duedate}" id="duedate"></input>
                <button type="submit" action="closeForm()" value="ADD">ADD</button>
                <button type="button" onclick="closeForm()">CLOSE</button>
            </form>
        </div>
        <button id="popupadd"onclick="openForm()" value="ADD">ADD</button>
    
        <div layout:fragment="scripts">
            <script>
                function openForm() {
                document.getElementById("goalform").style.display = "block";
                document.getElementById("popupadd").style.display = "none";
                }
            
                function closeForm() {
                  document.getElementById("goalform").style.display = "none";
                  document.getElementById("popupadd").style.display = "block";

                }
                function on(id) {
                    document.getElementById("text"+id).style.display = "block";

                }

                function off(id) {
                    document.getElementById("text"+id).style.display = "none";
                }
            </script>
    </div>
</body>

