<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goals</title>
</head>

<body>
    <div layout:fragment="content">
        <div id="navbar">
            <a th:href="@{completedgoals}"> List of completed goals</a>
            <a th:href="@{/revision}">Revision</a>
        </div>
        <div id="tablewrapper">
            <p th:if="${goalsize == true}"> Goal list is empty</p>
            <table id="goaltable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Completion</th>
                    </tr>
                </thead>
                <tbody>
                    <div th:each="goal:${goallist}">
                        <tr>
                        <!-- <label for="displayname"> Name</label> -->
                        <td>
                            <p id="displayname" th:text="${goal.name}"></p>
                        </td>
                        <!-- <label for="dispalydesc"> Description</label> -->
                        <td>
                            <p id="displaydesc" th:text="${goal.description}"></p>
                        </td>
                        <!-- <label for="completion">Completed?</label> -->
                        <td>
                            <form th:action="@{/goaldone/{id}(id=${goal.id})}" method="post" th:object=${updategoal}>
                                <input type="hidden" name = "id" th:value="${goal.id}" th:field="*{id}">
                                <input type="hidden" th:value="${goal.name}" th:field="*{name}">
                                <input id="goaldonebutton"type="submit" value="Complete Goal">
                            </form>
                        </td>
                        </tr>
                    </div>
                </tbody>
            </table>
        </div>
        <div class="addgoalform" id="goalform">
            <form class="popupform" th:object="${newgoal}" th:action="@{/addgoal}">
                <label for="name">Name</label>
                <input  th:field="*{name}" id = "name"type="text">
                <label for="description">Description</label>
                <input th:field = "*{description}" id="description" type="text">
                <button type="submit" action="closeForm()" value="ADD">ADD</button>
                <button type="button" onclick="closeForm()">CLOSE</button>
            </form>
        </div>
        <button id="popupadd"onclick="openForm()" value="ADD">ADD</button>
    
        <!-- <script>
            function openForm() {
            document.getElementsByClassName("addgoalform").style.display = "block";
            }
        
            function closeForm() {
              document.getElementsByClassName("addgoalform").style.display = "none";
            }
        </script> -->
    
        <div layout:fragment="scripts">
            <script>
                function openForm() {
                document.getElementById("goalform").style.display = "block";
                document.getElementById("popupadd").style.display = "none";
                }
            
                function closeForm() {
                  document.getElementById("goalform").style.display = "none";
                  document.getElementById("popupadd").style.display = "block";

                }
            </script>
    </div>
</body>

