<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goals</title>
    <style>
    .addgoalform {
        display: none;
        position: fixed;
        bottom: 5%;
        right: 5%;
        top: 5%;
        bottom: 5%;
        align-items: center;
        border: 3px solid #f1f1f1;
        width: 90%;
        height: 90%;
        border-color: aqua;
        }
    .popupform{
        width: 80%;
        height: 80%;
        border: 5%;
        border-color: aqua;
    }
    </style>
</head>

<body>
    <div layout:fragment="content">
        <div>
            <p th:if="${goalsize == true}"> Goal list is empty</p>
            <div th:each="goal:${goallist}">
                <label for="displayname"> Name</label>
                <p id="displayname" th:value="${goal.name}"></p>
                <label for="dispalydesc"> Description</label>
                <p id="displaydesc" th:value="${goal.description}"></p>

            </div>
        </div>
        <table>
            <td></td>
        </table>
        <div class="addgoalform" id="goalform">
            <form class="popupform" th:object="${newgoal}" th:action="@{/addgoal}">
                <label for="name">Name</label>
                <input  th:field="*{name}" id = "name"type="text">
                <label for="description">Description</label>
                <input th:field = "*{description}" id="description" type="text">
                <button type="submit" action="closeForm()" value="ADD">ADD</button>
                <button type="button" onclick="closeForm()">CLOSE</button>
            </form>
        </div>
        <button onclick="openForm()" value="ADD">ADD</button>
    
        <!-- <script>
            function openForm() {
            document.getElementsByClassName("addgoalform").style.display = "block";
            }
        
            function closeForm() {
              document.getElementsByClassName("addgoalform").style.display = "none";
            }
        </script> -->
    
        <div layout:fragment="scripts">
            <script>
                function openForm() {
                document.getElementById("goalform").style.display = "block";
                }
            
                function closeForm() {
                  document.getElementById("goalform").style.display = "none";
                }
            </script>
    </div>
</body>

