<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">7
    <html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <title>Revision</title>
</head>
<body>
    <div layout:fragment="content">
        <div id="navbar">
            <a id="navbarlink" th:href="@{/completedgoals}"> List of completed goals</a>
            <a id="navbarlink" th:href="@{/goals}">Goals</a>
            <a id="navbarlink" th:href="@{/leaderboard}">LeaderBoard</a>
            <a id="navbarlink" href="#" th:href="@{/logout}">Logout</a>
        </div>
        <div id="materialaddform" sec:authorize="hasAuthority('ROLE_ADMIN')">
            <form method = "POST" th:action="@{/addMaterial}" id = "addmaterial"enctype="multipart/form-data">
                <div id="fileinput">
                <input id="addforminput"type="file" accept="application/pdf" name="file">
                </div>
                <input id="addforminput"type="submit" value="Add">
            </form>
        </div>
        <div id="revisionmats">
            <div th:each="mat:${allmats}">
                <div th:id="'onemat'+${mat.id}">
                    <div id="materialcontroll">
                        <a id="matdownload" th:text="${mat.name}"></a>
                        <form id="materialform"th:action="@{/download/{fileid}(fileid=${mat.id})}">
                            <button id="materialdownloadbutton">Download</button>
                        </form>
                        <button id="materialbutton" th:onclick="showpreview([[${mat.id}]])">preview</button>
                        <div sec:authorize="hasAuthority('ROLE_ADMIN')">
                            <form id="materialform"th:action="@{/delete/{fileid}(fileid=${mat.id})}">
                                <button id="materialdelbutton">Delete</button>
                            </form>
                        </div>
                    </div>
                    <div class="materialpreview" th:id="'materialpreview'+${mat.id}">
                        <button id="materialless" th:onclick="lesspreview([[${mat.id}]])">Less</button>
                        <iframe type="application/pdf" th:src="@{/preview/{id}(id=${mat.id})}" width="1200" height="750"></iframe>
                    </div>
                </div>
                </div>
            </div>
            <div layout:fragment="scripts">
                <script>
                    function showpreview(id){
                        document.getElementById("materialpreview"+id).style.display = "flex";
                        document.getElementById("materialcontroll").style.display = "none";
                    }
                    function lesspreview(id){
                        document.getElementById("materialpreview"+id).style.display = "none";
                        document.getElementById("materialcontroll").style.display = "flex";
                    }
                </script>
                </div>
        </div>
</body>